APP_NAME=BM Radio
APP_ENV=development
TZ=America/Chicago

DATA_ROOT=../nas-data
MUSIC_ROOT=../nas-data/Music
AUDIOBOOK_ROOT=../nas-data/Audiobooks

DATABASE_URL=sqlite:///./bm_radio.db

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8094
FRONTEND_PORT=5174

PUBLIC_ACCESS=false
ALLOW_FILE_MUTATION=false
ALLOW_DELETE=false
ALLOW_TAG_WRITES=false
SCAN_INGEST_FOLDERS=false
