APP_NAME=BM Radio
APP_ENV=development
TZ=America/Chicago
NAS_DATA_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data
MUSIC_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music
MUSIC_LIBRARY_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Library
MUSIC_FLAC_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Library\FLAC
MUSIC_MP3_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Library\MP3
MUSIC_DISCOGRAPHIES_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Discographies
BM_RADIO_ENABLE_LEGACY_DISCOGRAPHY_SCAN=false
MUSIC_PLAYLISTS_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Playlists
MUSIC_METADATA_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Music\Metadata
AUDIOBOOKS_ROOT=C:\Users\BonnyMakaniankhondo\Documents\GitHub\NAS\nas-data\Audiobooks\Library
DATABASE_URL=sqlite:///./bm_radio.db
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8094
FRONTEND_PORT=5174
PUBLIC_ACCESS=false
ALLOW_FILE_MUTATION=false
ALLOW_DELETE=false
ALLOW_TAG_WRITES=false
SCAN_INGEST_FOLDERS=false
